.contenedor{
	width: 800px;
	max-width: 800px;
	height: 500px;
	max-height: 500px;
	font-family: sans-serif;
	text-align: center;
	overflow: hidden;
}

.imagen{
	position: absolute;
	top:60px;
	left:160px;
	
}